    .leftSide {
    background: #F88634 !important;
   min-height: 220vh;
    text-align: left;
}

.rightSide {    
    height:100vh;
}


.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    margin-left: 25px;
    margin-right: 30px;
    background-color: white;
    color: #F88634;
    text-decoration: none;
    text-align: left;
}

.nav-link {
    display:flex;
    transition: none;
    color: white;
    text-decoration: none;
    text-align: left;
    margin-left: 25px;
    margin-right: 30px;
    
}
    .nav-link i {
        margin-top:5px;
    
    }

    .nav-link:focus, .nav-link:hover {
        color: white;
        
    }
    .nav-link:hover {
        margin-left: 25px;
        margin-right: 30px;
        color: #F88634;
        background-color: white;
    }

.top-index {
    margin-top:2vh;
    text-align:left;
}
.indexes {
    text-align:left;
}

.index-content {

    margin-left:20px;
}

#header {
    background-color: white;
    height: 6vh;
    width: 81vw;
    font-size: 18px;
    margin-top: 0.5vh;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 5px;
}
#date {
    margin-top: 1.5vh;
    margin-left: 3vh;
    font-weight:400;
}

.userTag, .missionApplicationTag, .storyTag, .missionSkillTag, .CMSTag, .missionTag {
    border-bottom: 1px solid #808080;
    width: fit-content;
    margin-top: 4%;
    margin-left: 3%;
}

.dataTables_wrapper .dataTables_filter {
    float: left !important;
    text-align: right;
    margin-bottom: 3vh;
}

.dataTables_wrapper {
    margin-top: 1vh !important;
    margin-left: 2vw;
    margin-right: 2vw;
}

table.dataTable.no-footer {
    border: 1px solid #808080;
    margin-top:4vh !important;
}



table.dataTable tbody tr.even {
    background-color: #EDEDED !important;
}

table.dataTable thead tr {
    background-color: #B2B2B2 !important;
}


table.dataTable tbody th, table.dataTable tbody td {
    padding: 13px 10px !important;
}


.tox .tox-notification--warn, .tox .tox-notification--warning {
   display:none !important;
}


.custom-select.is-valid, .form-control.is-valid, .was-validated .custom-select:valid, .was-validated .form-control:valid {
    border: none !important;
}

.form-control.is-valid, .was-validated .form-control:valid {
    border: none !important;
    background-image: none !important;
}

.form-select.is-valid:not([multiple]):not([size]), .form-select.is-valid:not([multiple])[size="1"], .was-validated .form-select:valid:not([multiple]):not([size]), .was-validated .form-select:valid:not([multiple])[size="1"] {
    background-image: none !important;
}

.form-select.is-valid, .was-validated .form-select:valid {
    border: none !important;
}


