


/*Additional code starts here*/
input[type="search"] {
    border: none !important ;
    background: transparent;

    height:40px;
    font-size: 14px;
   
}

    input[type="search"]::placeholder {
        color: #bbb;
    }

button[type="submit"] {
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    cursor: pointer;
    opacity: 0.7;
}

    button[type="submit"]:hover {
        opacity: 1;
    }



/*Additional code ends here*/



.fixed-nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 50px;
    background-color: #FFFFFF;
}
/*.filterright {
    margin-start:auto;

}*/

.filterinput {
   /* width:100% !important;*/
    border:none !important;
    width:90%;
}

/*@media (min-width: 370px) and (max-width: 770px) {
    body {
        background-color:black;
    }
    .filternavbar {
        background-color:black !important;
        display: flex;
        flex-direction: column;
    }


}*/

@media only screen and (max-width:460px) {
    body {
        
    }

    .filterquery{
        display:none !important;
    }
    .fc {
        width: 20px;
        height: 20px;
        margin-top: 13px;
    }

    .fl {
        font-size: 17px;
    }


}

@media (min-width:460px)  {
  

    .menuicon {
        display:none ;
    }
}