



#cardBackground {
    background: transparent;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}




/*#cardMainBackground {
    background: #e6e6e6;
}*/


.top-left-applied {
    position: absolute;
    top: 15px;
    left: 0px;
    background-color: forestgreen;
    color: #FFFFFF;
    border-radius: 0px 15px 15px 0px;
    padding: 5px 10px;
}

.top-left-pending {
    position: absolute;
    top: 15px;
    left: 0px;
    background-color: #F2DF3A;
    color: black;
    border-radius: 0px 15px 15px 0px;
    padding: 5px 10px;
}

.top-left-decline {
    position: absolute;
    top: 15px;
    left: 0px;
    background-color: #E74646;
    color: #FFFFFF;
    border-radius: 0px 15px 15px 0px;
    padding: 5px 10px;
}


.button1, .button2 {
    border: 2px black;
    height: 44px;
}

.new{
    display:flex;
    flex-direction:column;
}
.old{
    display:flex;
    flex-direction:row;
}
.cardimagelist {
    width:30%;

}

/*For Cards*/
.SEDdiv {
    display: flex;
    justify-content: center;
    align-items: center;
}
    .SEDdiv hr {
        flex: 1;
        border: none;
        height: 2px;
        background: black;
    }


.maindiv {
    display: none;
}

h4 {
    position:relative;
    top:24%;
    margin: auto;
    
}

#location {
    background-color:black;
    opacity:0.6;
}

@media only screen and (max-width:444px) {
    .button1, .button2 {
        display:none;
    }
}
