body {
   
}
.button1, .button2 {
    border:2px black;
    height:44px;
}

.new{
    display:flex;
    flex-direction:column;
}
.old{
    display:flex;
    flex-direction:row;
}
.cardimagelist {
    width:30%;

}

/*For Cards*/
.SEDdiv {
    display: flex;
    justify-content: center;
    align-items: center;
}
    .SEDdiv hr {
        flex: 1;
        border: none;
        height: 2px;
        background: black;
    }


.maindiv {
    display: none;
}

h4 {
    position:relative;
    top:24%;
    margin: auto;
    
}

#location {
    background-color:black;
    opacity:0.6;
}

@media only screen and (max-width:444px) {
    .button1, .button2 {
        display:none;
    }
}
