* {
   
    font-size:17px;
}

main[role="main"].pb-3 {
    padding-bottom: 0 !important;
}



.loginimg {
    width: 100%;
}

.mainform {
    margin: 100px 30px 70px 40px;
    text-align: center;
}

.p1 {
    margin-top: 7%;
    text-align: center;
}

.p2 {
    text-align: center;
}


.privacy1 {
    min-height: 63%;
}

    .privacy1 p {
        font-size: 10px;
        color: gray;
        position: relative;
        top: 120px;
        text-align: center;
    }

a {
    text-decoration: none
}

.form-control {
   
    box-shadow: -10px -10px 15px rgba(255,255,255,0.1), 10px 10px 15px rgba(70,70,70,0.2) !important;
}

.loginButton {
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    font-weight: 600;
    color: black;
    font-size: 14px;
    height: 38px;
    padding: 8px 24px;
    border-radius: 50px;
    background-color: darkorange;
    box-shadow: 0 4px 11px 0 rgb(37 44 97 / 15%), 0 1px 3px 0 rgb(93 100 148 / 20%);
    transition: all .2s ease-out;
}
                

}
.loginButton:hover {
    box-shadow: 0 8px 22px 0 rgb(37 44 97 / 15%), 0 4px 6px 0 rgb(93 100 148 / 20%);
    
}