.loginimg{
    width:100%;
}
.mainform{
    margin:0px 50px 0px 50px;
}
.forgot
{
    font-size: 20px;
    text-align: center;
    margin-bottom: 7px;
}
.forgottext{
    margin-top: 0;
    text-align: center;
    font-size: 12px;
}

.login{
    margin-top: 5%;
    text-align: center;
    color: #414141;
    font-size: 15px;
    margin-bottom:5px;
}
.privacy{
    font-size: 12px;
    color: gray;
    position: absolute;
    top:107%;
    left:44%;
}
.alreadylogin{
    margin-top:7%;
    text-align: center;
    color: #414141;
    font-size: 14px;
}

a{
    text-decoration: none
}


.form-control {
    box-shadow: -10px -10px 15px rgba(255,255,255,0.1), 10px 10px 15px rgba(70,70,70,0.2) !important;
}

.RegisterButton {
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    font-weight: 600;
    color: black;
    font-size: 14px;
    height: 38px;
    padding: 8px 24px;
    border-radius: 50px;
    background-color: darkorange;
    box-shadow: 0 4px 11px 0 rgb(37 44 97 / 15%), 0 1px 3px 0 rgb(93 100 148 / 20%);
    transition: all .2s ease-out;
}



    .custom-select.is-valid, .form-control.is-valid, .was-validated .custom-select:valid, .was-validated .form-control:valid {
        border: none !important;
    }

.form-control.is-valid, .was-validated .form-control:valid {
    border: none !important;
    background-image: none !important;
}

.form-select.is-valid:not([multiple]):not([size]), .form-select.is-valid:not([multiple])[size="1"], .was-validated .form-select:valid:not([multiple]):not([size]), .was-validated .form-select:valid:not([multiple])[size="1"] {
    background-image: none !important;
}

.form-select.is-valid, .was-validated .form-select:valid {
    border: none !important;
}