@model CIPlatformIntegration.Entities.ViewModel.AdminViewModel;
<div>
    <h2 class="storyTag">Story</h2>
    <hr style="margin-top: -10px;" />

</div>

<table id="storyDataTable" class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Story Title</th>
            <th scope="col">Full Name</th>
            <th scope="col">Mission Title</th>
            <th scope="col" style="text-align:center;">Action</th>
            
            
        </tr>
    </thead>
    <tbody>

        @{

            foreach (var i in Model.stories)
            {
                
                <tr>
                    <th scope="row">@i.Title</th>
                    <td>@i.User.FirstName</td>
                    <td>@i.Mission.Title</td>                                   

                    <td class="justify-content-evenly d-flex">
                        <button type="button" class="btn btn-outline-warning rounded-pill viewButton" value="@i.StoryId" style="font-size: 12px;">View</button>
                        <span class="" type="button" id=""><i class="bi bi-check-circle" style="color:green;"></i></span>
                        <span class="" type="button" id=""><i class="bi bi-x-circle" style="color:red;"></i></span>
                    </td>

                </tr>
            }


           
        }

    </tbody>
</table>


