@using CIPlatformIntegration.Entities.Models;
@using CIPlatformIntegration.Entities.ViewModel
@model HomePageViewModel


<html>
<head>
    <title>
        Homepage
    </title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    @*CSS and JS file for Homepage itself*@
    <link rel="stylesheet" href="~/css/Homepage.css" />



    @*CSS file for HeaderBar*@
    <link rel="stylesheet" href="~/css/HeaderBar.css"></link>
    @*CSS file for FilterBar*@
    <link rel="stylesheet" href="~/css/FilterBar.css"></link>

    <style>
    #cookiediv {
        width: 100%;
        background: #ccc;
        color: #fff;
        height: 100px;
        bottom: 0;
        position: fixed;
        background: black;
        opacity: 0.9;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
</style>

</head>

<body>
    @Html.Partial("_HeaderBar")
    @Html.Partial("_FilterBar")



    @{
        if (TempData["Toastlogin"] != null)
        {

            <script type="text/javascript">
                 const Toast = Swal.mixin({
                  toast: true,
                  position: 'top-end',
                  showConfirmButton: false,
                  timer: 2000,
                  timerProgressBar: true,
                  didOpen: (toast) => {
                    toast.addEventListener('mouseenter', Swal.stopTimer)
                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                  }
                })

                Toast.fire({
                  icon: 'success',
                  title: 'Login successful'
                })
            </script>
        }


    }






    <div id="test"></div>


    @* Logic for individual card showing*@



    @* Logic for individual card showing ends*@

    @*Mission info*@

    @*Cards End*@

    @*Cookie Div*@
    <div id="cookiediv">
        <div class="d-flex flex-column">
            <p class="m-0">This website makes use of cookies to enhance browsing experience and provide additional functionality.</p>
            <a class="text-warning" asp-action="PrivacyPolicy" asp-controller="StoryListing">Privacy policy</a>
        </div>
        <div>
            <button onclick="accpetCookie()" class="btn btn-outline-warning rounded-pill bg-transparent">
                I Agree
            </button>
        </div>
        <a class="position-absolute top-0 end-0 mt-2 me-3 text-white" onclick="closecookiediv()"> <i class="bi bi-x-lg"></i></a>
    </div>




</body>




<script src="~/js/Homepage.js"></script>
<script src="~/js/Cards.js"></script>


<script>



    / Cookie Script /
    if (getCookie('accepted') === 'yes') {
        document.getElementById("cookiediv").style.display = "none";
    }

    // user clicks the confirmation -> set the 'yes' value to cookie and set 'accepted' as name
    function accpetCookie() {
        setCookie('accepted', 'yes', 100);
        document.getElementById("cookiediv").style.display = "none";
    }

    // code from :http://stackoverflow.com/a/4825695/191220
    // set cookie method
    function setCookie(c_name, value, exdays) {
        var exdate = new Date();
        exdate.setDate(exdate.getDate() + exdays);
        var c_value = escape(value) + ((exdays == null) ? "" : "; expires=" + exdate.toUTCString());
        document.cookie = c_name + "=" + c_value;
    }

    // get cookie method
    function getCookie(c_name) {
        var i, x, y, ARRcookies = document.cookie.split(";");
        for (i = 0; i < ARRcookies.length; i++) {
            x = ARRcookies[i].substr(0, ARRcookies[i].indexOf("="));
            y = ARRcookies[i].substr(ARRcookies[i].indexOf("=") + 1);
            x = x.replace(/^\s+|\s+$/g, "");
            if (x == c_name) {
                return unescape(y);
            }
        }
    }
</script>

</html>

