

    <form class="form-inline my-2" style="display: flex;justify-content: end;">
        <input  id="searchStoryInput" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" >
        <a id="searchStory" name="Cardsearch" class="btn btn-outline-success my-2 my-sm-0">Search</a>
    </form>


