<html>
    <head>
        <title>No Mission Found</title>
        <style>
        

        #outer {
            margin-top:2%;
            width: 100%;
            display: flex;
            justify-content: center;
        }
        </style>
    </head>

    <body>
    <h3 style="text-align:center">No Mission Found</h3>

    <div id="outer">
        <div id="inner">
            <a href="#" class="btn border-warning rounded-pill">
                <span style="color:orange">Submit New Mission &nbsp; </span> <img src="~/images/right-arrow.png" />
            </a>
        </div>
    </div>
    </body>
</html>